@using POS.Utilities.Services
@using POS.Utilities.Utilities
@using POS.Utilities.ViewModel
@{
    Layout = null;
    List<ItemStockViewModel> items = Session[WebUtil.ClosingInventory] as List<ItemStockViewModel>;
}
<style>
    .form-control-sm {
        border-radius: 5px !important;
        border: 1px solid !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-height: 500px;">
            <div class="card">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for ItemName">
                <!-- /.card-Detailer -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-sm table-striped table-hover text-wrap" id="tblSale">
                        <thead>
                            <tr>
                                <th class="">Item Name</th>
                                <th class="">Purchase from Warehouseth>
                                <th class="">Remaining physical Quantity</th>
                                <th class="">Consumed Quantity</th>
                                <th class="">Line Remarks</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                if (items?.Count > 0)
                                {
                                    foreach (var p in items)
                                    {
                                        var actualQty = p.IssueToLocationQuantity - p.ClosingInventoryQuantity - p.ReturnToWarehouseQuantity;
                                        <tr>
                                            <td class=""> @Html.HiddenFor(m => p.ItemId, new { @class = "itemId" }) <span class="itemName">@p.ItemName </span></td>
                                            <td class=""> <span type="text" id="PhyQuantity_@p.ItemId" class="phyQuantity">@actualQty</span></td>
                                            <td class=""> <input type="text" id="RemQuantity_@p.ItemId" class="form-control-sm remQuantity" value="@p.xQuantity" onchange="CalculateRQty(@p.ItemId)" /></td>
                                            <td class=""> <span id="ConsumptionQuantity_@p.ItemId" class="consumptionQuantity">@p.xRemainingQuantity</span> </td>
                                            <td class=""><input type="text" id="Remarks_@p.ItemId" class="form-control-sm itemRemarks" /></td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>

</div>


<script>

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>



