@using POS.Utilities.ViewModel
@model IEnumerable<OrderViewModel>
@{
    ViewBag.Title = "All Order";
    var searchKeyword = ViewBag.search;
}


<script src="~/Scripts/Site.js"></script>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">List of All Open Orders</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive">
                <table id="bootstrap-data-table-export" class="table table-hover table-striped text-nowrap">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>InvoiceNo</th>
                            <th>Car Number </th>
                            <th>Dack</th>
                            <th>Gross Amount</th>
                            <th>Order Taker</th>
                            <th>Order DateTime</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var e in Model)
                            {
                                <tr class="dgrow" data-id="@e.Id">

                                    <td>@e.Id</td>
                                    <td>@e.InvoiceNumber</td>
                                    <td>@e.CarNo</td>
                                    <td>@e.TableName</td>
                                    <td>@e.GrossAmount</td>
                                    <td>@e.UserName</td>
                                    <td>
                                        @{
                                            DateTime orderDate = (DateTime)e.ModifyDate;
                                            orderDate.ToString("dd-MM-yyyy hh:mm tt");
                                        }
                                        @orderDate
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)" onclick="Update(@e.Id)" class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="bottom" title="Edit Order" data-caption="Update Order Detail"><span class="fas fa-edit"></span> <small> Payment</small></a>
                                        @*<a href="javascript:void(0)" onclick="GetPrintToKitchenDepartment(@e.Id)" class="btn btn-xs btn-outline-info" data-toggle="tooltip" data-placement="bottom"><span class="fas fa-print"></span> <small>Kitchen</small> </a>
                                        <a href="javascript:void(0)" onclick="GetPrintToBarDepartment(@e.Id)" class="btn btn-xs btn-outline-info" data-toggle="tooltip" data-placement="bottom"><span class="fas fa-print"></span>  <small>Bar</small></a>
                                        <a href="javascript:void(0)" onclick="GetPrintToDessertDepartment(@e.Id)" class="btn btn-xs btn-outline-info" data-toggle="tooltip" data-placement="bottom"><span class="fas fa-print"></span>  <small>Dessert</small></a>*@
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>


        </div>
        <!-- /.card -->
    </div>
</div>


<script>
    function Update(orderId) {
        window.location.href = "/Home/POS?OrderId=" + orderId + "&IsUpdateMode= true";
    }
</script>
